<div class="column">
  <div id="message" class="ui <%= alignment %> segment">
    <div class="ui comments">
      <div class="comment">
        <div class="content">
          <a class="author"><%= message.user %></a>
          <div class="text">
            <%= message.content %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
